{% extends "qm/quartermaster.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error occured</title>
</head>
<body>
    <h1>Error</h1>
    <h3>The Following Error occured:</h3>
    <p>{{ Error_type }}: {{ Error }}</p>
    {% if Error_type == "ValueError" %}
        <p>The error was most likely caused by searching for a nonexistent value.</p>
        <p>Check that all values were entered correctly.</p>
    {% else %}
        <p>You've encountered an unexpected error.</p>
    {% endif %}
    <a class="nav-item" href="{% url 'qm-qm' %}">Go back</a>
</body>
</html>
{% endblock content %}