{% extends "qm/quartermaster.html" %}
{% block content %}
<style>
    .hidden {
        visibility: hidden;
    }
</style>
<h1>Quartermaster Page</h1>
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Spreadsheet</legend>
            <p><label for="id_sheet_0">Sheet:</label>
            <ul id="id_sheet">
                <li><label for="id_sheet_0"><input type="radio" name="sheet" value="Master_qm" required id="id_sheet_0">
                        Master</label>

                </li>
                <li><label for="id_sheet_1"><input type="radio" name="sheet" value="Tent_db" required id="id_sheet_1">
                        Tent</label>

                </li>
            </ul>
            </p>
            <p><label for="id_action_0">Action:</label>
            <ul id="id_action">
                <li><label for="id_action_0"><input type="radio" name="action" value="get_row" required
                            id="id_action_0">
                        Search for item</label>

                </li>
                <li><label for="id_action_1"><input type="radio" name="action" value="update_cell" required
                            id="id_action_1">
                        Change item&#x27;s attributes</label>

                </li>
                <li><label for="id_action_2"><input type="radio" name="action" value="insert_row" required
                            id="id_action_2">
                        New item</label>

                </li>
            </ul>
            </p>
            <br>
            <div class= "item hidden">
                <p><label for="id_Item">Item ID:</label> <input class="action" type="text" name="Item" 
                    id="id_Item"></p>
                <p class="text-muted">Item to search for or change (ta1, ta2, etc.)</p>
                <br>
            </div>
            <div class = "attribute hidden">
                <p><label for="id_Attribute">Attribute:</label> <input class="action" type="text" name="Attribute" 
                    id="id_Attribute"></p>
                <p class="text-muted">The attribute to search for or change (id, type, status, patrol, condition, notes)</p>
                <br>
            </div>
            <div class = "value hidden">
                <p><label for="id_Value"> New Value:</label> <input class="action" type="text" name="Value" id="id_Value"></p>
                <p class="text-muted">The new value to insert or change to. If inserting new item seperate attributes with
                    commas.</p>
                <br>
            </div>
        </fieldset>
        <div>
            <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
    </form>
    <script>
        $('#id_action input').on('change', function() {
            let selectedAction = $('input[name=action]:checked', '#id_action').val(); 
            if (selectedAction == 'get_row') {
                $('.item').removeClass('hidden');
                $('.attribute').addClass('hidden');
                $('.value').addClass('hidden');
            } else if (selectedAction == 'update_cell') {
                $('.item').removeClass('hidden');
                $('.attribute').removeClass('hidden');
                $('.value').removeClass('hidden');
            } else if (selectedAction == 'insert_row') {
                $('.item').removeClass('hidden');
                $('.attribute').addClass('hidden');
                $('.value').removeClass('hidden');
            }
        });
    </script>
</div>
{% endblock content %}